.texto {
    text-align: center;
}

.menu {
    margin: 50px auto;
    width: 800px;
    /* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.menu>li {
    background: rgb(1, 177, 118);
    float: left;
    position: relative;
    transform: skewX(25deg);
}

.menu a {
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}

.menu li:hover {
    background: #C7FFD8;
}

.menu>li>a {
    transform: skewX(-25deg);
    padding: 1em 2em;
}

.menu>li:hover .submenu, .menu>li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}

.menu>li:hover .submenu li:nth-child(even) {
    transform: skewX(25deg) translateX(15px);
}

.menu>li:hover .submenu li:nth-child(odd) {
    transform: skewX(-25deg) translateX(-15px);
}


/* Footer*/
.footer {
    background-color: rgb(1, 177, 118);
    padding: 50px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a h1 {
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
    text-align: center;
    color: #ca2521 !important;
}

.a-botones {
    color: white;
    text-decoration: none;
}

.a-botones:hover {
    color: white;
}